---
interface Testimonial {
  quote: string;
  author: string;
  role: string;
  image: string;
}

interface Props {
  items?: Testimonial[];
}

const defaultItems: Testimonial[] = [
  {
    quote:
      'Promptless is a core part of my self-healing docs toolchain, proactively fixing problems before I knew I had them.',
    author: 'Manny Silva',
    role: 'Creator, Doc Detective',
    image: '/site/manny.jpeg',
  },
  {
    quote:
      'This is the most "make something people want" feature I have ever seen. It solves my problem in a better way than I thought would be possible.',
    author: 'Alan Mond',
    role: 'Docs Maintainer, Bazel',
    image: '/site/alan.jpeg',
  },
  {
    quote:
      'Promptless dramatically speeds up my time-to-first-draft. My team literally calls me a 10x tech writer.',
    author: 'Mo King',
    role: 'Senior Technical Writer, Runpod',
    image: '/site/mo.jpeg',
  },
  {
    quote:
      "Promptless updates every relevant section of our docs, catching both the latest changes and old spots we'd missed. It feels like magic.",
    author: 'Aaron Levin',
    role: 'Founding Solutions Engineer, Vellum',
    image: '/site/aaron.jpeg',
  },
  {
    quote: 'I love your product. It works incredibly well and basically pays for itself right away.',
    author: 'Eduardo Soubihe',
    role: 'CTO, Latitude.sh',
    image: '/site/eduardo.jpeg',
  },
  {
    quote: "Promptless is a solo tech writer's godsend.",
    author: 'Nicholas DeWald',
    role: 'Head of Developer Docs, Prove',
    image: '/site/nicholas.jpeg',
  },
];

const { items = defaultItems } = Astro.props;
const loopedItems = [...items, ...items];
---

<section id="testimonials" class="pl-site-testimonials" aria-label="Testimonials">
  <div class="pl-site-testimonials-track">
    {
      loopedItems.map((item) => (
        <blockquote class="pl-site-testimonial">
          <div class="pl-site-testimonial-header">
            <img src={item.image} alt={item.author} loading="lazy" width="40" height="40" />
            <div>
              <p class="pl-site-testimonial-author">{item.author}</p>
              <p class="pl-site-testimonial-role">{item.role}</p>
            </div>
          </div>
          <p>{item.quote}</p>
        </blockquote>
      ))
    }
  </div>
</section>
